:root {

    --sidebar-width: 250px;

}

.header .site-title {
    transition: all 0.15s ease-in-out;
}

.header .site-title:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.header .menu-item {
    font-weight: bold;
}

.header .menu-item.active a {
    color: rgba(0, 0, 0, 0.5);
}

.header .menu-item.active a:hover {
    text-decoration: none;
}

.header .menu-item a {
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.15s ease-in-out;
}

.header .menu-item a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.navbar-nav a {

    display: block;
    padding: .5rem 1rem;

}

.navbar-expand-lg .navbar-nav a {
    padding-right: .5rem;
    padding-left: .5rem;
}

.comments .comment-respond .comment-reply-title,
.comments .comment-respond .comment-notes,
.comments .comment-respond .logged-in-as {
	text-align: center !important;
}

.comment-form .comment-form-comment textarea {
    width: 100%;
}

.comment-respond input[type="checkbox"] + label {
    font-size: 1em;
    padding: 0 10px;
}

.header .navbar {
    padding: 2rem 0.5rem;
}

.content .post .post-thumb {
    box-shadow: 0 0 7px;
}
